.indexHome{
  position: relative;
}
.bannerIndex {
  background-image: url(/img/walpaper.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* z-index: -1; */
  /* margin-top: -60px; */
}
.menu .item{
  color: #ffffff !important;
  font-size: 18px;
}
.ui.secondary.menu{
  padding: 20px;
}
.imageLogo{
  height: 50px !important;
}
.BlurbPadding{
  padding: 60px 0px;
}
.HowItWorks{
  padding-bottom: 0px;
  font-size: 40px;
}
.contentTitle{
  font-size: 24px;
}
.paraphDesc{
  font-size: 18px;
}
.contentCenter{
  padding-top: 25%;
  padding-left: 10%;
}
.contentCenter h4{
  font-size: 32px;
}
.stackable p ,.contentCenter p{
  font-size: 17px;
}
.sectionBackground{
  background-image: url("/img/walpaper_2.png");
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment:; */
  color: #fff;
}
.aboutZeeva{
  font-size: 36px;
  padding-top: 40px;
}
.aboutLogo{
  height: 45px;
  position: relative;
  top: 10px;
  left: 20px;
}
.aboutTitle{
  color: yellow;
  font-size: 26px;
  padding-top: 15px;
}
.accordionPadding{
  margin: 30px 0px;
}
.FAQ{
  margin-top: 50px !important;
  font-size: 32px;
}
.indexBanner{
  color: #ffffff;
  font-size: 40px;
}
.descBanner{
  color: #ffffff;
  font-size: 20px;
}
.indexPadding{
  padding-top: 8vw;
  padding-right: 50%;
}
.widthFooter{
  width: 15%;
}
.follow{
  color: #35a6ff;
  padding: 10px 0px;
}
.widthFooter{
  margin-bottom: 30px;
}
.ui.accordion .title{
  border-top: 2px solid #dfe0e0;
  padding: 5px 0px;
}
.main.menu {
  margin-top: 4em;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.secondary.menu {
  display: none !important ;
}

.item i{
  color: #ffffff;
}

.ui.vertical.menu {
  background: #01253b !important;
  z-index: 1000 !important;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}


@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 979px) {
  .ui.container{
    width: 90% !important;
  }
  .bannerIndex{
    height: 70vw !important;
  }
  .indexBanner {
    font-size: 26px;
  }
  .contentTitle {
    font-size: 20px;
  }
  .sectionBackground{
    height: 60vw;
  }
  .widthFooter {
    width: 25%;
  }
}

@media only screen and (max-width : 767px) {
  .bannerIndex {
    height: 55vw !important;
  }
  .indexBanner{
    font-size: 21px;
  }
  .indexPadding {
    padding-top: 8vw;
    padding-right: 43%;
  }
  .ui.main.menu {
    display: none !important;
  }
  .main.menu .item,
  .main.menu .menu {
    display: none;
  }
  .secondary.menu {
    display: block!important;
  }
  .imageLogo {
    height: auto;
    width: 28%;
  }
  .aboutTitle{
    padding-top: 0px;
    font-size: 22px;
  }
  .aboutZeeva {
    font-size: 26px;
    padding-top: 40px;
  }
  .aboutLogo {
    height: 36px;
  }
  .widthFooter {
    width: 26%;
  }
  .sectionBackground{
    background-position: right;
    height: 77vw;
  }
  .sectionBackground p{
    padding-right: 30%;
  }
  .descBanner {
    color: #ffffff;
    font-size: 16px;
  }
}

@media only screen and (max-width : 580px) {
  .bannerIndex {
    height: 80  vw !important;
    /* font-size: 22px !important; */
  }
  .indexBanner{
    font-size: 22px;
  }
  .BlurbPadding{
    padding: 20px 0px;
  }
  .aboutZeeva {
    font-size: 24px;
  }
  .sectionBackground {
    background-position: center;
    height: 100vw;
  }
  .sectionBackground p{
    font-size: 18px;
    padding: 0px;
  }
  .widthFooter {
    width: 35%;
  }
}

@media only screen and (max-width : 370px) {
  .bannerIndex {
    height: 100vw !important;
    /* font-size: 22px !important; */
    background-position: inherit;
  }
  .indexBanner {
    font-size: 18px;
  }
  .descBanner {
    color: #ffffff;
    font-size: 17px;
  }
  .indexPadding {
    padding-top: 19vw;
    padding-right: 0%;
  }
  .sectionBackground {
    background-position: center;
    height: 200vw;
  }
  .widthFooter {
    width: 55%;
  }
}